<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title>Hello World</title>
</head>
<body>
    <h1>Hello World from Nodejs !</h1>
    <img src="../assets/img/image.svg" />
    <script src="../assets/js/app.js"></script>
</body>